{{ define "main" }}

<section class="site-volunteer-header">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>{{ .Title }}</h1>
      </div>
      </div>
      <div class="col-12">
        <div class="site-about-wrapper" >
          <div class="site-about-company">
            <h1 style="margin-bottom:-10px">
              {{ .Params.heading }}:
            </h1>
            <h1 style="font-size:105%;margin-top:20px">
                Transplanting Trans Asylum Seekers to
                Trans Friendly Territories while
                Transmitting Logistic and Emotional Support.
              </h1>
          </div>
          <div class="site-about-company" style="background:white">
            <p>
              <center><img src="{{ "images/team/mission_mikiodo.jpg" | absURL }}" alt="iman" style="width:120%"/></center>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="site-volunteer details" style="padding-bottom:0%">
  <div class="container" style="padding-top:5%">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <article class="site-volunteer-details">
          <p style="color:black;font-size:120%;text-align: center;">TRANS ASYLIAS is a non-profit organization
            created in 2021 and registered in the state of New York with the purpose to
            help transgender women and men escape from their home countries where they face
            persecution and resettle in trans-friendly countries.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="site-volunteer-header">
  <div class="container">
    <div class="col-12" style="overflow: scroll;">
      <div class="site-volunteer2-wrapper2" style="margin-top:0%;" style="background-color:red">
        <div class="site-volunteer2-description">
              <img src='{{ "images/team/iman_bio.jpg" | absURL }}' alt="iman" height="10px" width="auto"/>
        </div>
        <div class="site-volunteer2-company2">
          <h3 style="color:black;font-size:150%;text-align: center;">Iman Le Caire</h3>
          <p style="color:black;font-size:120%;text-align: center;">
            {{ .Description }}
            <br><br>
          </p>
        </div>
    </div>
    </div>
</section>


{{ end }}
