{{ define "main" }}

<section class="site-volunteer-header">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>{{ .Title }}</h1>
      </div>
      </div>
      <div class="col-12">
        <div class="site-about-wrapper" >
          <div class="site-about-company">
            <h1 style="margin-bottom:-10px">
              {{ .Params.heading }}:
            </h1>
            <h1 style="font-size:105%;margin-top:20px">
                Transplanting Trans Asylum Seekers to
                Trans Friendly Territories while
                Transmitting Logistic and Emotional Support.
              </h1>
          </div>
          <div class="site-about-company" style="background:white">
            <p>
              <center><img src="{{ "images/team/mission_mikiodo.jpg" | absURL }}" alt="iman" width="150%" height="120%"/></center>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="site-volunteer details">
  <div class="container" style="padding-top:80px">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <article class="site-volunteer-details">
          <p style="color:black;font-size:120%;text-align: center;">TRANS ASYLIAS is a non-profit organization
            created in 2021 and registered in the state of New York with the purpose to
            help transgender women and men escape from their home countries where they face
            persecution and resettle in trans-friendly countries.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>


<section class="site-expertise">
  <div class="container" style="display:flex;">
    <img src='{{ "images/team/iman.jpg" | absURL }}' alt="iman" width="50%" height="auto" float="left"/>
      <div class="site-about-description">
        <h2>Iman Le Caire</h2>
        <p>
          {{ .Description }}
        </p>
      </div>
    </div>
</section>

<!-- <section class="site-expertise">
  <div class="container" style="display:flex;">
      <div class="site-about-description">
        <p>
          {{ .Description }}
        </p>
        <br>
        <p>
          2019 was a pivotal year when Iman got her first on-screen acting part as Layla in <i>The Shuroo Process</i> movie, written and directed by Emrhys Cooper, which had its world premiere at the Woodstock Film Festival in October 2021. The pandemic, the death of George Floyd, and the months of protests moved Iman to join in in solidarity of the Black Lives Matter and Black Trans Lives Matter movements. Iman put on hiatus what she had been dreaming of for such a long time, a 100% dedication of her time and energy to become an actor.
        </p>
      </div>
    </div>
</section> -->

<!-- {{ partial "clients.html" . }}

{{ partial "team.html" . }}

{{ partial "call-to-action.html" . }} -->

{{ end }}
